#pane{
    -fx-background-image: url("../images/Background.jpg");
    -fx-background-repeat: repeat;
    -fx-background-size: 512 512;
    -fx-background-position: left;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
.button{
    -fx-background-radius: 10;
    -fx-background-color: white;
    -fx-font-family: "Tw Cen MT";
    -fx-font-size: 24;
}

.button-2{
    -fx-background-radius: 10;
    -fx-background-color: #8b2b07;
    -fx-font-family: "Tw Cen MT Condensed Extra Bold";
    -fx-fill: white;
    -fx-text-fill: white;

}